# --- MONGODB ATLAS CONFIGURATION ---
# Replace with your actual Atlas connection string.
# Example: mongodb+srv://<user>:<password>@cluster0.mongodb.net/?appName=Cluster0
MONGO_URI=your_mongodb_atlas_uri_here

# --- KAFKA CONFIGURATION (Local) ---
KAFKA_BROKER=127.0.0.1:9092
KAFKA_TOPIC=orders
